.yes {
  width: 100%;
  height: 1000px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  max-width: 1600px;
}

.product-container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-picture{
  width: 40%;
  height: 100%;
  border-radius: 25px;
  margin-right: 25px;
  border: 1px solid #e2e2e2;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  -webkit-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
}

.blurb-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  font-family: "Mukta", sans-serif;
  margin-top: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
}

.blurb-header {
  width: 100%;
  height: 20%;
  background-color: red;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-family: "Mukta", sans-serif;
  color: white;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.blurb-body {
  width: 100%;
  height: 80%;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  font-family: "Mukta", sans-serif;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  flex-flow: column;
}

.blurb-body > p {
  margin-left: 10px;
}

.shopping-cart-off {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: red;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  animation: fade-out 0.5s forwards;
  transition: all 0.5s;
}

.shopping-cart-on {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: red;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.50;
  animation: fade-in 0.5s forwards;
  transition: all 0.5s;
}

.shopping-cart-on:hover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: green;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: fade-in 0.5s forwards;
  transition: all 0.5s;
  filter: brightness(125%);
  cursor: pointer;
  transform: scale(1.05);
}

.buy-box {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  border: 1px solid #e2e2e2;
  margin-top: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
box-shadow: 10px 10px 20px -14px rgba(0,0,0,0.75);
}

.buy-yes {
  width: 30%;
  height: 30%;
  background-color: red;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-family: "Mukta", sans-serif;
  font-style: italic;
}

.buy-yes:hover {
  width: 30%;
  height: 30%;
  background-color: green;
  border: 1px solid white;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  font-family: "Mukta", sans-serif;
  font-style: italic;
  transform: scale(1.05);
  cursor: pointer;
}

.buy-box > h2 {
  color: green;
  font-family: "Mukta", sans-serif;
  font-style: italic;
}

@keyframes fade-in {
  0% {opacity: 0%}
  100% {opacity: 50%}
}

@keyframes fade-out {
  0% {opacity: 50%}
  100% {opacity: 0%}
}
